<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Stray Cat Feeding System</title>
</head>
<body>
    <div>
        <nav>
            <a href="/">Home</a> |
            <a href="/feeding-sites">Feeding Sites</a> |
            {{#if username}}
                <span>Welcome, {{username}}</span> | 
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/register">Sign Up</a> |
                <a href="/login">Login</a>
            {{/if}}
        </nav>
        <hr>
        {{{body}}}
    </div>
</body>
</html>
