<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Stray Cat Feeding System</title>
</head>
<body>
    <div>
        {{#if username}}
            <div>
                <span>Welcome, {{username}}</span> | 
                <a href="/logout">Logout</a>
            </div>
        {{/if}}
        {{{body}}}
    </div>
</body>
</html>
