<h1>Welcome, {{ username }}</h1>

<h2>Your Courses</h2>
<ul>
    <li>Course 1: Introduction to Programming</li>
    <li>Course 2: Advanced Database Systems</li>
    <li>Course 3: Web Development</li>
</ul>

<p><a href="/logout">Logout</a></p>
